.defaultInput {
    padding: 17px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2c3e50;
    font-size: 13px;
}
