.passenger {
    display: flex;
    flex-direction: colum;
    justify-content: space-around;
    padding: 24px 32px;
    gap: 81px;

    background: #ffffff;
    border-radius: 1.5rem;

    width: 327px;
    height: 84px;

    border-radius: 24px;
}

.passengerTag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.passengerTag div:nth-child(1) {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: rgba(0, 0, 0, 0.64);
}

.passengerTag div:nth-child(2) {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: rgba(0, 0, 0, 0.88);
}

.seatTag {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.seatTag div:nth-child(1) {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: rgba(0, 0, 0, 0.64);
}

.seatTag div:nth-child(2) {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    color: rgba(0, 0, 0, 0.88);
}
