.clearButton {
    position: absolute;
    top: 0.375rem;
    left: 0.375rem;
    background: white;
    color: #2d2a37;
    border: none;
    cursor: pointer;
}

.clearButton:hover {
    background: #ebebeb;
}

.background {
    height: calc(100vh - 80px);
    padding-left: 6px;
    padding-top: 6px;
    background: linear-gradient(
        167.96deg,
        #8257e5 0%,
        #402b71 72.62%,
        #271a45 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boardingPass {
    margin-top: min(50px, 15%);
    width: 327px;
    height: 656px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.titleFlight {
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.ticket {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 2.75rem;

    width: 327px;
    height: 544px;

    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));

    border-radius: 24px;
}

.divider {
    background: #ffffff;
    width: 280px;
    height: 0px;

    border: 1px dashed rgba(0, 0, 0, 0.32);
}

.footerBoardingPass {
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.64;
    letter-spacing: -0.02em;
    line-height: 24px;
}

input::placeholder {
    color: #551590bc;
}
