* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    color: rgba(0, 0, 0, 0.8);
}

a {
    color: #a78be9;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
}

button {
    width: 156.33px;
    height: 38px;

    background: #ffffff;
    border-right: 1px solid #402b71;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

select {
    width: 156.33px;
    background: #ffffff;
    border-right: 1px solid #402b71;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

input:focus {
    border: 3px solid #551590;
}
